<mat-toolbar class="mat-elevation-z2 bg-light navbar-fixed-top" style="justify-content: space-between;">
  <div>
    <a class="mr-5" routerLink="/">
      <img src="assets/logo.png" height="70px" alt="">
    </a>
  </div>

  <div>
    <span>
      <mat-form-field floatLabel="never" style="width: 700px;">
        <input matInput [matAutocomplete]="auto" [(ngModel)]="searchInput" placeholder="Search" style="width: 93%;" (keyup)="onSearch()">
        <a style="cursor: pointer;" (click)="onSearch()"><i class="fas fa-search pl-3"></i></a>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option [routerLink]="['/questions', searchResult._id]" *ngFor="let searchResult of searchResults" [value]="option">
            <a id="title" style="word-wrap: break-word;" >{{searchResult.title}}</a>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </span>
    <span>
      <a mat-button color="primary" routerLink="/ask">Ask Question</a>
    </span>
    <span ngbDropdown>
      <a mat-button color="primary" id="categoryDropdown" ngbDropdownToggle>Categories</a>
      <div ngbDropdownMenu aria-labelledby="categoryDropdown">
        <button ngbDropdownItem *ngFor="let category of categories" (click)="onCategory(category.name)"
          routerLinkActive="router-link-active">{{category.name}}</button>
      </div>
    </span>

    <span>
      <a mat-button color="primary" routerLink="/professionals">professionals</a>
    </span>

    <span>
      <img *ngIf="isAuthenticated" class="profilePhoto mt-1" (click)="view()" src="{{user.picURL}}">
    </span>
    <span>
      <app-login></app-login>
    </span>
  </div>

  <!-- <div  mat-card-avatar [ngStyle]="{'background-image': 'url(' + user.picURL + ')'}" ></div> -->
</mat-toolbar>
<br><br>