.acceptButton{
    margin-right: 18em;
    background: #48b02c;
    padding: 1em 4em;
    color: #fff;
}
.rejectButton{
    
    background: #ff1d3c;
    padding: 1em 4em;
    color: #fff;
}
.profilePhoto{
    border-radius: 50%;
    width: 9em;
}
.label{
    font-weight: bold;    

}