<nav class="navbar shadow navbar-expand-lg navbar-light bg-light row fixed-top mb-3rem">
  <a class="navbar-brand col-1" routerLink="#">
    <img src="assets/logo.png" height="70px" alt="">
  </a>

  <form class="form-inline my-2 my-lg-0 col-8">
    <input class="form-control mr-sm-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
  </form>
  <ul class="navbar-nav flex-row d-none d-md-flex col-3">

    <li class="nav-item">
      <a class="nav-link" routerLink="/ask">Ask Question</a>
    </li>

    <li ngbDropdown class="nav-item">
      <a class="nav-link" id="categoryDropdown" ngbDropdownToggle>Categories</a>
      <div ngbDropdownMenu aria-labelledby="categoryDropdown">
        <button ngbDropdownItem *ngFor="let category of categories">{{category.name}}</button>
      </div>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/professionals">professionals</a>
    </li>

    <li>
      <img *ngIf="isAuthenticated" class="profilePhoto mt-1 mr-2" routerLink="profile" src="{{user.picURL}}">
    </li>
    <li>
      <app-login></app-login>
    </li>
  </ul>

  <!-- <div  mat-card-avatar [ngStyle]="{'background-image': 'url(' + user.picURL + ')'}" ></div> -->
</nav>