
mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  margin-left: 25px;
}

.vl {
  border-left: 0px solid ;
  height: 100%;
}


i.icon {
  font-size: 35px;
}

// #google{
//   background: #dd4b39;
//   color: white;
// }

#facebook{

  // background: #3b5998;
  // color: white;
  padding: 0;

}
.signButton{
  // background: #fff;
  color: #000;
  font-weight: 500;
  padding:0
  // border-radius: 20px;
  // border: solid #000 1px;
}
.loginButton{
  // background: #2dbeef;
  color: #000;
  width: 100%;
  font-weight: 500;
  // border-radius: 20px;
  // border: solid #000 1px;
  height: 48px;
  font-size: 16px;
}

