<mat-divider></mat-divider>
<div class="p-2">
        <span class="mr-3" style="word-wrap: break-word;">{{comment.body}}</span>
        <br>
        <div class="row">
                <div class="col"></div>
                <div class="col-7">
                        <small class="text-secondary" *ngIf="owner">
                                <span class="mr-3">
                                        {{comment.createdAt | date:'medium'}}
                                </span>
                                <a style="cursor: pointer;" (click)="viewProfile()">
                                        {{owner.firstName}} {{owner.lastName}}
                                </a>
                        </small>

                </div>