.acceptButton{
    // margin-right: 18em;
    background:#fff ;
    text-align: center;
    padding: 1em 1em;
    color: #48b02c;
    min-width: 4em;
    border: none;
    border-radius: 2em;
}
.acceptButton:hover , .acceptButton:focus{
    background-color:#48b02c ;
    color: #fff;
}
.rejectButton{
    background: #fff;
    text-align: center;
    padding: 1em 1em;
    color: #ff1d3c;
    min-width: 4em;
    border: none;
    border-radius: 2em;
}
.rejectButton:hover, .rejectButton:focus{
    background-color: #ff1d3c;
    color: #fff;
}
.profilePhoto{
    border-radius: 50%;
    width: 9em;
}
.label{
    font-weight: bold;    

}