<div *ngIf="answer" class="border">
  <div class="m-3">
    {{answer.body}}
  </div>

  <div class="row m-0 bg-dark">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" (click)="voteAnswer(1)" class="btn btn-dark">
        <i class="fa fa-thumbs-up text-white"></i>
        <span class="ml-2">{{answer.votes}}</span>
      </button>
      <button type="button" (click)="voteAnswer(0)" class="btn btn-dark">
        <i class="fa fa-thumbs-down text-white"></i>
      </button>
      <button type="button" class="btn btn-dark" (click)="isCommentCollapsed = !isCommentCollapsed"
        [attr.aria-expanded]="!isCommentCollapsed" aria-controls="commentCollapse">
        <i class="fa fa-comment"></i>
        <span class="ml-2">Comment</span>
      </button>
      <button type="button" class="btn btn-dark">
        <i class="fa fa-pen"></i>
        <span class="ml-2">Edit</span>
      </button>
    </div>
    <div class="d-flex flex-row btn-group mr-3">
      <button class="btn btn-dark" (click)="onDelete()">Delete</button>
    </div>
  </div>
  
  <div id="commentCollapse" [ngbCollapse]="isCommentCollapsed">
    <app-comment-create [questionId]="questionId" [answerId]="answer._id"></app-comment-create>
  </div>
  <div *ngFor="let comment of answer.comments" class="m-3">
    <app-comment-detail [comment]="comment"></app-comment-detail>
  </div>
</div>