<div class="container">
  <h4 *ngIf="!id">Ask a Question</h4>
  <h4 *ngIf="id">Edit Question</h4>
  <form #askForm="ngForm" (ngSubmit)="onQuestion()">
    <div class="form-group" novalidate>
      <label for="title">Title</label>
      <input type="text" #titleModel="ngModel" [(ngModel)]="questionModel.title" name="title" class="form-control"
        id="title" placeholder="What is your Question? Be specific" required>
      <small *ngIf="submitted && titleModel.invalid" class="error">
        Title is required
      </small>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select name="category" id="category" class="custom-select" [(ngModel)]="questionModel.category"
        #categoryModel="ngModel" required>
        <option selected>Select a Category</option>
        <option *ngFor="let category of categories">{{category.name}}</option>
      </select>
      <small *ngIf="submitted && categoryModel.invalid" class="error">
        Category is required
      </small>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea type="text" #bodyModel="ngModel" [(ngModel)]="questionModel.body" name="body" class="form-control"
        id="body" placeholder="Explain your Question" required></textarea>
      <small *ngIf="submitted && bodyModel.invalid" class="error">
        Body is required
      </small>
    </div>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="tag selection">
        <mat-chip *ngFor="let tag of questionModel.tags" [selectable]="selectable" [removable]="removable"
          (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New tag..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredtags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button *ngIf="!id" type="submit" class="btn btn-primary">Post Question</button>
    <button *ngIf="id" type="submit" class="btn btn-primary">Save Question</button>
  </form>
</div>