<div *ngIf="question" class="container">
  <div class="row">
    <div class="row mb-2">
      <a routerLink="/"> Questions </a> &nbsp; / &nbsp;
      <a [routerLink] routerLinkActive="router-link-active" (click)="onCategory()">{{question?.category}}</a>
    </div>
    <div class="shadow row p-3 mt-3" style="width: 100%; margin: auto;">
      <div class="col-1">
        <a (click)="voteQuestion(1)">
          <i style="cursor:pointer;" [ngClass]="{'text-primary' : votedUpDown==1}" class="fa fa-caret-up fa-4x"></i>
        </a>
        <div>
          <a (click)="voteQuestion(1)" id="voteCount" style="cursor:pointer;"
            [ngClass]="{'text-primary' : votedUpDown==1}" class="ml-2"><b>{{question?.votes}}</b></a>
        </div>
        <a (click)="voteQuestion(0)">
          <i style="cursor:pointer;" [ngClass]="{'text-primary' : votedUpDown==2}" class="fa fa-caret-down fa-4x"></i>
        </a>
      </div>
      <div class="col">
        <div class="p-3">
          <h4 style="word-wrap: break-word;">{{question?.title}}</h4>
          <div class="mb-2">
            <small class="text-secondary">
              <span class="mr-3">Asked {{question?.createdAt | date:'medium'}}</span>
              <span class="mr-3">{{question?.views}} Views</span>
              <span *ngIf="!mode && user?.id==owner?.id">
                <a class="actionLink mr-3" [routerLink] routerLinkActive="router-link-active"
                  (click)="onEdit()">Edit</a>
                <a class="actionLink" [routerLink] routerLinkActive="router-link-active" (click)="onDelete()">Delete</a>
              </span>
            </small>
          </div>
          <p style="word-wrap: break-word;">{{question.body}}</p>
          <div class="row">
            <div class="col">
              <span class="rounded-pill bg-dark text-white m-1" *ngFor="let tag of question.tags">
                <span class="p-2">
                  <small>{{tag?.value}}</small>
                </span>
              </span>
            </div>
            <div *ngIf="owner" class="col-4">
              <img class="profilePhoto" (click)="viewProfile()" src="{{owner.picURL}}">
              <small>
                <a (click)="viewProfile()">
                  {{owner?.firstName}} {{owner?.lastName}}
                </a>
              </small>
            </div>
          </div>
        </div>

        <div class="ml-5">
          <div *ngFor="let comment of question.comments" class="m-3">
            <app-comment-detail [comment]="comment"></app-comment-detail>
          </div>
          <div *ngIf="!mode">
            <app-comment-create (refreshEvent)="refreshQuestion()" [questionId]="question._id" [user]="user">
            </app-comment-create>
          </div>
        </div>

      </div>

    </div>
  </div>

  <h4 class="mt-3">
    <span>{{question?.answers.length}}</span>
    <span *ngIf="question.answers.length==1"> Answer </span>
    <span *ngIf="question.answers.length!=1"> Answers </span>
  </h4>
  <div *ngIf="question.answers.length>0">
    <span *ngFor="let answer of question.answers">
      <app-answer-detail (refreshEvent)="refreshQuestion()" [questionId]="question._id" [answer]="answer" [user]="user"
        [mode]="mode"></app-answer-detail>
    </span>
  </div>
  <div *ngIf="!mode">
    <app-answer-create (refreshEvent)="refreshQuestion()" [questionId]="question._id" [user]="user"></app-answer-create>
  </div>
</div>
