<div *ngIf="question" class="row shadow m-1 p-3">
  <div class="col-2 row">
    <div class="m-1 text-center">
      {{question.votes}} <br>
      <small>Votes</small>
    </div>
    <div class="m-1 text-center">
        {{question.answers.length}} <br>
        <small>Answers</small>
    </div>
    <div class="m-1 text-center">
        {{question.views}} <br>
        <small>Views</small>
    </div>
  </div>
  <div class="col-10">
    <div>
      <h4 id="title" (click)="onQuestion()">{{question.title}}</h4>
      <small>{{question.body | slice:0:250}}<span *ngIf="question.body.length>250">...
        <a [routerLink]="['/questions',question._id]" routerLinkActive="router-link-active">Read More</a>
      </span>
      </small>
    </div>
    <div>
      <span class="rounded-pill bg-dark text-white m-1" *ngFor="let tag of question.tags"><small class="p-2"> {{tag.value}} </small></span>
    </div>
    <div class="text-right col-12"><small><span *ngIf="owner">{{owner.firstName}} {{owner.lastName}}</span></small></div>
  </div>
</div>
