.card {
  width: 100%;

}

.header {
  background-size: cover;
}
img {
  border-radius: 50%;
  width: 200px;
  height: auto;
  margin-right: 0px;
}


.b {
  margin-top: 20px;
  margin-left: 0px;
  padding-left: 20px;
}

.c1 {
  margin-right: 5px;
}

.c2 {
  margin-right: 5px;
}
.button{
  background: #48b02c;
  padding: 1em 4em;
  color: #fff;
  width: 20em;
  border: none;
  text-align: center;
  margin: auto;
    margin-top: 4em !important;
 }


