<div class="container">
    <div style="margin-bottom: 5em;margin-top: 5em;">
<h2>Payment for the Appointment</h2>
</div>
<div class="row">
    <div class="col-md-3 col-sm-12" style="margin: auto;"> <img class="profilePhoto" src="{{professionalPhoto}}"></div>
    <div class="col-md-9 col-sm-12">
      <div class="col-md-12 col-sm-12">
        <h4>{{professionalName}}</h4>
      </div>
      <div class="col-md-12 col-sm-12"><span class="label">Subject: </span>{{subject}}</div>
      <div class="col-md-12 col-sm-12"><span class="label">Description: </span>{{description}}</div>
      <div class="col-md-12 col-sm-12"><span class="label">Start time of the appoinment: </span>{{startTime |date :'hh mm aaa EEE dd MMM yyy'}}</div>
      <div class="col-md-12 col-sm-12"><span class="label">Duration: </span>{{duration}} hrs</div>
      <div class="col-md-12 col-sm-12"><span class="label">End time of the appointment: </span>{{endTime  |date :'hh mm aaa EEE dd MMM yyy'}}</div>
      <div class="col-md-12 col-sm-12"><span class="label">Payment Status: </span>{{paymentStatus}}</div>
      <div class="col-md-12 col-sm-12"> <span class="label">Payment Amount:  </span>  {{paymentAmount| currency : "LKR" }}</div>
    
    </div>

  </div>
  <div class="row" style="margin-top: 3em;">
      <div style="margin: auto;" #paypal></div>
</div>

</div>