.container {
    margin-top: 15vh
  }
  
  img {
    width: auto;
    height: 50px;
  }
  
  .links {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  