div.container.prolist {
  height: 40vh;
}

// div.catlist {
//   margin-top: 110px  !important;
// }

.prolist .select {
  width: 200px !important;
}

.prolist table {
  width: 100%;
}

.prolist .mat-form-field {
  font-size: 14px;
  width: 100%;
}

.prolist td,
th {
  width: 25%;
}
